body {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.02em;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* .heder {
  
} */
.container {
  max-width: 1668px;
  padding: 0 15px;
  margin: 0 auto;
}
.heder .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  align-items: flex-start;
  gap: 65px;
}
.header-logo {
}

.heder-link-logo {
  color: #000;
  font-size: 40px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.2px;
  margin-right: 642px;
  padding-top: 48px;
  padding-bottom: 56px;
}

.heder-nav-list {
}

.list-item {
}

.list-item-link {
  color: #242323;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.22px;
}

.head-btn {
  color: #fefefe;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.72px;
  width: 134px;
  height: 62px;
  background-color: #000000;
  margin-left: 65px;
}
.main {
}

.main-container{
  border-radius: 59px;
  background: #f4f6f5;
  display: flex;
  width: 1720px;
    height: 852px;
    /* !!!!!!!!! */
  margin-bottom: 63px;
}

.main-title {
  color: #000;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.25;
  width: 474px;
  height: 473px;
  margin-top: 77px;
  margin-left: 119px;
  margin-bottom: 40px;
  display: flex;
}

.main-text {
  color: #191818;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.6px;
  margin-left: 119px;
  margin-right: 43px;
  margin-bottom: 32px;
}

.main-img {
  width: 871px;
  height: 784px;
  margin-top: 68px;
  margin-right: 81px;
  width: 871px;
  height: 784px;
  background: lightgray -527.043px -229.849px / 204.859% 151.728% no-repeat;
}


.main-btn {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.5px;
  width: 221px;
  height: 82px;
  border-radius: 10px;
  background: #000;
  margin-left: 349px;
  margin-bottom: 90px;
}
.container-main-img{
    /* display: flex;
    justify-content: flex-end; */
}.brand-btn {
  background: #EBD96B;
  width: 1920px;
    height: 186px;
    display: flex;
}

.list-btn {
  display: flex;
    align-items: center;
    margin-left: 171px;
    gap: 121px;
}

.list-btn-item {
  fill: #EBD96B;
}
.item-btn-img{
}
.container {}

.container-arrivals{
  margin-bottom: 190px;
}

.subtitle {
  color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.04;
    letter-spacing: 0.05em;
    margin-top: 69px;
    margin-left: 104px;
    margin-bottom: 118px;
}

.list-arrivals {
  display: flex;
  flex-direction: row;
  gap: 90px;
}

.list-arrivals-item {}

.arrivals-list-container{
    padding: 26px 0;

}

.list-arrivals-text {
  color: #191919;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: 0.06em;
}

.arrivals-item {
  color: #7F7F7F;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 2.08;
    letter-spacing: 0.04em;
}

.list-arrivals-item {}
.payday {
  background: linear-gradient(1deg, #E0C340 0.13%, #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%, #E4C542 12.98%, #E6C744 15.99%, #E7C845 19.52%, #E5C643 23.96%, #E6C945 30.43%, #E3C743 36.49%, #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%, #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%, #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%, #F9DF56 97.87%);
  display: flex;
  flex-direction: row;
}

.payday-img {}

.subtitle-payday {
  color: #000;
    font-size: 111.608px;
    font-weight: 900;
    line-height: 1.22;
    margin-top: 140px;
    margin-right: 250px;
    margin-bottom: 33px;
}

.payday-text {
  color: #231300;
    font-family: Poppins;
    font-size: 36.04px;
    font-style: normal;
    font-weight: 500;
    line-height: 52.316px;
    /* 145.161% */
    letter-spacing: -0.721px;
    margin-bottom: 41px;
}

.payday-text-data {
  color: #000;
    font-family: Poppins;
    font-size: 36.04px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.316px;
    /* 145.161% */
    letter-spacing: 0.721px;
}

.payday-text-apply {
  color: #000;
    font-family: Poppins;
    font-size: 36.04px;
    font-style: normal;
    font-weight: 400;
    line-height: 52.316px;
    /* 145.161% */
    letter-spacing: -0.721px;
    margin-bottom: 51px;
}

.payday-btn {
  color: #FFF;
    font-family: Poppins;
    font-size: 27.902px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.558px;
    width: 265.622px;
      height: 95.332px;
      border-radius: 8.138px;
        background: #000;
}

.payday-sale{
margin-left: 90px;
}
.favourite {
}

.subtitle-favourite {
  color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 50px;
    /* 104.167% */
    letter-spacing: 2.88px;
    margin-top: 190px;
    margin-bottom: 118px;
    margin-left: 100px;
}

.list-favourite {
    display: flex;
      flex-direction: row;
      gap: 48px;
}

.list-favourite-item {}

.favourite-text {
  color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    /* 156.25% */
    letter-spacing: -1.28px;
}

.favourite-item {
  color: #7F7F7F;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    /* 208.333% */
    letter-spacing: -0.96px;
}
.container-favourite{
  padding: 28px 0;
}
